@page "/{categoryurl?}"
@inject ICategoryService CategoryService

@if(category is not null)
{
    <h1>Welcome to the @category.Name section</h1>
    <ProductList CategoryId="@category.Id"/>
} 
else
{
    <h1>Welcome to Blazing Shop</h1>
    <ProductList />
}

@code {
    [Parameter]
    public string CategoryUrl { get; set; }

    private Category category = null;

    protected override void OnParametersSet()
    {
        if(CategoryUrl is not null)
        {
            category = CategoryService.Categories.FirstOrDefault(x => string.Equals(x.Url, CategoryUrl, StringComparison.OrdinalIgnoreCase));
        } else
        {
            category = null;
        }
    }
}
